.wrapper-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-300x400 {
  width: 300px;
  height: 400px;
}

.card-400x600 {
  width: 400px;
  height: 600px;
}

.example-storybook-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}
